@page "/home"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Welcome, @context.User.Identity?.Name!</h3>
        <p>You are logged in.</p>
    </Authorized>
    <NotAuthorized>
        <h3>Welcome!</h3>
        <p>You're logged out. <a href="login">Click here to login</a>.</p>
    </NotAuthorized>
</AuthorizeView>
